/* Home Page CSS */
#codeDisplay{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
#fetchedCode{
    display: flex;
    justify-content:center;
    margin-top:50px;
}
#refreshBtn{
    /* margin-right:6%; */
    color:white;
    background-color: green;
    font-size:1rem ;
}

#submitBtn{
    color:white;
    background-color: blue;
    font-size:1rem ;
}

input{
    font-size:1rem ;
}

form{
    display: flex;
    justify-content:center;
    /* margin-right: 6%; */
}

/* Details Page CSS */

#parent{
    display: flex;
    justify-content: space-around;
    margin-bottom: 3%;
}

#child-incorrect{
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
    padding:0.5rem;
    background-color: red;
    color:white;
}
#child-correct{
    background-color: green;
    color:white;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
    padding:0.5rem;
}

#message{
    padding:2rem;
    font-size:1.2rem;
    font-family: monospace;
}

#HomePage{
    margin-top:3%;
    text-align: center;
}
#HomePage button{
    color:white;
    background-color: green;
    font-size:1rem;
}